/target/
/target/
/target/
.settings/
.project
.classpath
bin/
*.ucls
web/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Jetbrain ### 
.idea/**



# Intellij gitIgnore Setting
mwav.iml
