@CHARSET "EUC-KR"
BODY {
FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY:;
}
TD {
	FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY:;
}
SELECT {
	FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY:;
}
DIV {
	FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY:;
}
FORM{
	FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY:;
}
TEXTAREA {
	BORDER-RIGHT: 1px solid #999999; BORDER-TOP: 1px solid #999999;
	FONT-SIZE: 9pt; BORDER-LEFT: 1px solid #999999; COLOR: BLACK;
	BORDER-BOTTOM: 1px solid #999999; FONT-FAMILY:;
	BACKGROUND-COLOR: white
}
INPUT {
	BORDER-RIGHT: 1px solid #999999; BORDER-TOP: 1px solid #999999;
	FONT-SIZE: 9pt; BORDER-LEFT: 1px solid #999999; COLOR: BLACK;
	BORDER-BOTTOM: 1px solid #999999; FONT-FAMILY:;
	BACKGROUND-COLOR: white
}
.form_login{
 BACKGROUND-COLOR: #f4f1f7;
 COLOR: #555555;
 font-family : "Arial", "Verdana", "sans-serif";
 font-size : 9pt;
 padding-top : 2px;
 padding-left : 2px; 
 BORDER-BOTTOM: #d2cdd5 1px solid; 
 BORDER-LEFT: #a79bb1 1px solid; 
 BORDER-RIGHT: #d2cdd5 1px solid; 
 BORDER-TOP: #a79bb1 1px solid; 
 margin: 1px;
}

A:link {text-decoration:nonecolor:#696969}
A:hover {text-decoration:yescolor:#66CCFF}
A:visited {text-decoration:nonecolor:#330066}

