<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
    <td valign="top" style="FONT-SIZE:14px;FONT-FAMILY:Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif;COLOR:#555555;TEXT-ALIGN:left"><strong>TO. ㈜소프트모아.</strong> 
																						
																						</td>
</tr>

											<tr>
																					<td height="30"></td>
																				</tr>
<tr>
												<td><p style="FONT-SIZE:14px;FONT-FAMILY:Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif;COLOR:#555555">안녕하세요 mwav입니다.
                                                
</p><br>
												  <p style="FONT-SIZE:14px;FONT-FAMILY:Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif;COLOR:#555555">지난번 말씀드렸던 유통시스템이 완료과정 중에 있습니다.
저희는 지난번 소프트모아의 사이트에 자사 솔루션을 판매하는 것을 요청드렸습니다.</p>


<br>
<p style="FONT-SIZE:14px;FONT-FAMILY:Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif;COLOR:#555555">자사 제품인 QUICKHEAL SECURITY는 카스퍼스키, V3에 비교해 높은 가격 경쟁력과 좋은 성능을 가진 백신 프로그램이며, 23년간 검증된 자체엔진을 가지고 2017년 멀웨어 관련하여, AVLab으로 BSET+++ 자격을 취득하기도 하였습니다.</p>
<p style="FONT-SIZE:14px;FONT-FAMILY:Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif;COLOR:#555555">● PC를 통한 스마트폰 바이러스 검사 및 치료 기능 <br>
● 클라우드 저장소를 이용한 개인문서 보관기능<br>
● 시스템 자원 사용의 최적화, 업데이트 시간 단축<br>
● 피싱 사이트 및 스파이웨어 방지기능</p>

<p style="FONT-SIZE:14px;FONT-FAMILY:Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif;COLOR:#555555">이처럼 QUICKHEAL SECURITY는 제품별로 위와 같은 다양한 기능을 내재하고 있습니다.
</p><br>
<p style="FONT-SIZE:14px;FONT-FAMILY:Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif;COLOR:#555555">자세한 당사의 정보 및 제품정보는 아래의 링크로 접속 후 확인 부탁드리며,
제품에 대한 볼륨 라이선스 가격은 해당 메일로 답신 주시기 바랍니다.
</p>

</td>
											</tr>
											<tr>
												<td style="font:14px/22px Malgun Gothic;color:#666">


													<table border="0" cellpadding="0" cellspacing="0">
														<tbody>
															<tr>
																<td style="display:block;height:10px"></td>
															</tr>
														</tbody>
													</table>

													<table cellpadding="0" cellspacing="0" style="width:100%">
														<tbody>
															<tr>
																<td style="background:#a5a5a5;font-size:1px;line-height:1px;height:2px"></td>
															</tr>
														</tbody>
													</table>
													
												</td>
											</tr>
											<tr>
												<td>
													<table cellspacing="0" cellpadding="0" width="690" border="0">
														<tbody>
															<tr>
																					<td height="20" colspan="3"></td>
																				</tr><tr>
																				  <td style="FONT-SIZE:15px;FONT-FAMILY:Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif;COLOR:#555555;TEXT-ALIGN:center;LETTER-SPACING:-1px;LINE-HEIGHT:26px" colspan="3"><strong><span style="COLOR:#00547e">Mwav는 </span>귀사 ㈜크라이스아이앤씨와 좋은 협력 관계를 맺기를 기대합니다. <br> 감사합니다. </strong></td>
</tr><tr>
																					<td height="20" colspan="3"></td>
																				</tr><tr>
																<td width="210"></td>
																<td width="270"><a href="https://goo.gl/vjf5NP" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ko&amp;q=https://goo.gl/vjf5NP&amp;source=gmail&amp;ust=1523097527306000&amp;usg=AFQjCNF_UfMIg4Vy7SlwVUe76yYvy5JIVw">
																		<p style="BORDER:#00547e 1px solid;FONT-FAMILY:Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif;PADDING-BOTTOM:13px;TEXT-ALIGN:center;PADDING-TOP:13px;PADDING-LEFT:0px;PADDING-RIGHT:0px;BACKGROUND-COLOR:#00547e;color:white">
																			제품 바로가기</p>
																</a></td>
																<td width="210"></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>