<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mwav 회원가입 메일</title>
</head>
<body>
<div style="FONT-SIZE: 10pt; FONT-FAMILY: 굴림">
		<br>
		<br>

		<table cellspacing="0" cellpadding="0" width="780" bgcolor="#00547E"
			border="0">
			<tbody>
				<tr>
					<td valign="top" height="5" colspan="3" bgcolor="#06a6e0"></td>
				</tr>
				<tr>
					<td valign="top" width="8"></td>
					<td valign="top" width="764">
						<table style="FONT-FAMILY: Dotum" cellspacing="0" cellpadding="0"
							width="764" border="0">
							<tbody>
								<tr height="50px">
									<td align="left" valign="top"
										><img
				src="http://www.mwav.net/Images/CompanyLogos/CompanyLogo.gif"
				
				alt="Mwav"></td>
									<td align="right" valign="top"
										style="padding-top: 30px; padding-right: 10px"></td>
								</tr>
								<tr>
									<td colspan="2">
										<table style="TABLE-LAYOUT: fixed" cellspacing="0"
											cellpadding="0" width="764" border="0">
											<tbody>
												<tr>
													<td valign="top" bgcolor="#ffffff" height="31"></td>
													<td valign="top"
														style="FONT-SIZE: 0px; VERTICAL-ALIGN: top; LINE-HEIGHT: 0"
														bgcolor="#ffffff" width="722"></td>
													<td valign="top" bgcolor="#ffffff" height="31"></td>
												</tr>
												<tr>
													<td valign="top" bgcolor="#ffffff"></td>
													<td valign="top" bgcolor="#ffffff">
														<table cellspacing="0" cellpadding="0" width="722"
															border="0">
															<tbody>
																<tr>
																	<td valign="top" width="16"></td>
																	<td>
																		<table cellspacing="0" cellpadding="0" width="690"
																			border="0">
																			<tbody>
																				<tr>
																					<td valign="top"
																						style="FONT-SIZE: 16px; FONT-FAMILY: Nanum GothicB, Malgun Gothic, dotum, gulim, verdana, sans-serif; COLOR: #333333; LINE-HEIGHT: 1"><strong>${mbrName}
																						회원님, Mwav 회원가입을 축하 드립니다.</strong></td>
																				</tr>
																				<tr>
																					<td height="30"></td>
																				</tr>
																				<tr>
																					<td align="left" valign="middle"
																						style="FONT-SIZE: 16px; BACKGROUND: #f2f2f2; FONT-WEIGHT: bold; COLOR: #555555; PADDING-BOTTOM: 25px; PADDING-TOP: 25px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px">
																						<table cellspacing="0" cellpadding="0"
																							width="100%" border="0">
																							<tbody>
																								<tr>
																									<td align="left"
																										style=""
																										height="30" width="20%">회원명</td>
																									<td align="left"
																										style="COLOR: #00547E; PADDING-LEFT: 15px;"
																										width="80%">${mbrName}</td>
																								</tr>
																								<tr>
																									<td align="left"
																										style=""
																										height="30" width="20%">아이디</td>
																									<td align="left"
																										style="COLOR: #00547E; PADDING-LEFT: 15px;"
																										width="80%">${mbrLoginId}</td>
																								</tr>
<tr>
																									<td align="left"
																										style=""
																										height="30" width="20%">이메일</td>
																									<td align="left"
																										style="COLOR: #00547E; PADDING-LEFT: 15px;"
																										width="80%">${mbrEmail}</td>
																								</tr><tr>
																									<td align="left"
																										style=""
																										height="30" width="20%">핸드폰번호</td>
																									<td align="left"
																										style="COLOR: #00547E; PADDING-LEFT: 15px;"
																										width="80%">${mbrCellPhone}</td>
																								</tr><tr>
																									<td align="left"
																										style=""
																										height="30" width="20%">주소</td>
																									<td align="left"
																										style="COLOR: #00547E; PADDING-LEFT: 15px;"
																										width="80%">${mbrAddress}</td>
																								</tr>                                                                                                
                                                                                                
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td height="20"></td>
																				</tr>
																				<tr>
																					<td
																						style="FONT-SIZE: 15px; FONT-FAMILY: Nanum GothicB, Malgun Gothic, dotum, gulim, verdana, sans-serif; COLOR: #555555; TEXT-ALIGN: center; LETTER-SPACING: -1px; LINE-HEIGHT: 26px"><strong><span
																							style="COLOR: #00547E;">Mwav</span> 기업 														정보 및 다양한 혜택을 제공해 드립니다.</strong></td>
																				</tr>
																				<tr>
																					<td height="20"></td>
																				</tr>
																				<tr>
																					<td valign="top"
																						style="FONT-SIZE: 14px; FONT-FAMILY: Nanum GothicB, Malgun Gothic, dotum, gulim, verdana, sans-serif; COLOR: #555555; TEXT-ALIGN: center"><strong>회원우대서비스</strong> <br>
																						<p style="FONT-SIZE: 12px; MARGIN: 7px 0px">-
																							회원 대상 상시 할인 쿠폰 제공</p>
																						<p style="FONT-SIZE: 12px; MARGIN: 7px 0px">-
																							회원 대상 특별프로모션 및 특별 할인쿠폰 제공</p></td>
																				</tr>
																				<tr>
																					<td height="10"></td>
																				</tr>
																				<tr>
																					<td>
																						<table cellspacing="0" cellpadding="0" width="690"
																							border="0">
																							<tbody>
																								<tr>
																									<td width="210"></td>
																									<td width="270">
																									<a href="mwav.net?utm_source=internal&utm_medium=email&utm_campaign=register">
																										<p
																											style="BORDER: #00547E 1px solid; FONT-FAMILY: Nanum GothicB, Malgun Gothic, dotum, gulim, verdana, sans-serif; PADDING-BOTTOM: 13px; TEXT-ALIGN: center; PADDING-TOP: 13px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #00547E; color: white;">
																											Mwav 바로가기</p></a>
																									</td>
																									<td width="210"></td>
																								</tr>
																							</tbody>
																						</table>
																					</td>
																				</tr>
																				<tr>
																					<td height="30"></td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																	<td width="16"></td>
																</tr>
															</tbody>
														</table>
													</td>
													<td bgcolor="#ffffff"></td>
												</tr>
												<tr>
													<td valign="bottom" bgcolor="#ffffff" height="26"></td>
													<td valign="bottom"
														style="FONT-SIZE: 0px; VERTICAL-ALIGN: bottom; LINE-HEIGHT: 0"
														bgcolor="#ffffff" height="26" width="722"></td>
													<td valign="bottom" bgcolor="#ffffff" height="26"></td>
												</tr>
												<tr>
													<td colspan="3" bgcolor="f7f7f7"
														style="border-top: 1px solid #cccccc">
														<table cellspacing="0" cellpadding="0" width="710"
															border="0" style="margin: 23px 35px">
															<tbody>
																<tr>
																	<td style="padding-bottom: 19px"></td>
																</tr>
																<tr>
																	<td
																		style="FONT-SIZE: 13px; COLOR: rgb(153, 153, 153); LETTER-SPACING: -1px">
																		Copyright © Mwav Website 2016</td>
																</tr>
																
																<tr>
																	<td height="8"></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td width="8"></td>
				</tr>
				<tr>
					<td height="8" colspan="3"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>