<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Mwav Naming Document</title>
	<head>
		<link
				href=" //maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
				rel="stylesheet">
	</head>
<body>
<div style="margin: 0; padding: 0">
	<table width="720" border="0" cellpadding="0" cellspacing="0"
		   style="margin: 0 auto">
		<tbody>
		<tr>
			<td style="background: #fff">

				<!-- Email Body Area -->
				<!-- 회원가입  -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
					<tr>
						<td style="width: 40px"></td>
						<td style="padding: 20px 0 30px">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
								<tr>
									<td
											style="font: 23px/38px Malgun Gothic; letter-spacing: -1px; color: #0879c9">
										접수해 주셔서 감사합니다</td>
								</tr>
								<tr>
									<td
											style="padding: 30px 0 25px; font: 16px/26px Malgun Gothic; color: #767676">
										접수해 주신 메일로 근 시일 내로 회신드리겠습니다.
										<br>
										<br>
										추가로 문의하실 내용이 있다면 아래의 이메일 주소로 문의 부탁드리겠습니다.
										itstudy136@gmail.com
									</td>
								</tr>
								</tbody>
							</table>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>