<?xml version="1.0" encoding="utf-8"?>
<!-- utf-8로 저장 -->
<!--  어플리캐이션이 시작할 때(asax) Application 변수를 이용해서 한번에 저장한다 -->
<GeneralConfig>
	<CompanyInfo>
		<CompanyName><![CDATA[Mwav corp]]></CompanyName>
		<firmName>엠웨이브넷</firmName>
		<chief_IT_BusinessAdvisor><![CDATA[Peter, J]]></chief_IT_BusinessAdvisor>
		<CEO><![CDATA[Lewis, Kim]]></CEO>
		<webSiteManager><![CDATA[Hunt, Kim]]></webSiteManager>
		<marketingManager><![CDATA[Dave, Shin]]> </marketingManager>
		<sitePromoter>박원호</sitePromoter>
		<TEL>+82-70-4655-4777</TEL>
		<FAX>+82-2-6214-7039</FAX>
		<siteAddress>http://mwav.net</siteAddress>
		<firmEmail>webmaster@mwav.net</firmEmail>
		<businessID>206-09-41373</businessID>
		<address><![CDATA[GV-4F, 5-5, Ttukseom-ro 46-gil, Gwangjin-gu, Seoul , Korea [05099] ]]></address>
		<copyright><![CDATA[Copyright ⓒ Since 2004 Mwav.net All rights reserved]]></copyright>
	</CompanyInfo>
	<TechCompanyInfo>
		<solutionName>엠웨이브샵</solutionName>
		<techFirmName>엠웨이브</techFirmName>
		<techManager>기획개발팀장</techManager>
		<techPhone>+82-2-6214-1122</techPhone>
		<techFax>+82-2-6214-7039</techFax>
		<techSite>http://www.Mwav.net</techSite>
		<techEmail>webmaster@Mwav.net</techEmail>
		<techBusinessID>206-09-41373</techBusinessID>
		<techFirmAddr><![CDATA[서울특별시 광진구 노유2동 한강현대APT 101-1403]]></techFirmAddr>
	</TechCompanyInfo>
	<WebSiteInfo>
		<keywords>E-컨설팅, 도메인, 웹호스팅, 서버호스팅, 호스팅, 홈페이지, 웹사이트, 솔루션개발, 데이터베이스, 유지보수, 전자상거래, 쇼핑몰, 웹메일, 뉴스솔루션, 서버, 파이어월, 스토리지, 네트워크, 하드웨어,
	e-consulting, domain, web hosting, server hosting, hosting, homepage, web solution, database, maintenance, EC, shopping mall, web mail, news solution, server, firewall, storage, network, h/w</keywords>
		<description>This is the website for Mwav.net and has been developed by Nam Jin, Cho. You can contact him at webmaster@mwav.net if you have a question or an inquiry on the site.</description>
	</WebSiteInfo>
</GeneralConfig>