<?xml version="1.0" encoding="utf-8"?>
<!-- utf-8로 저장 -->
<!--  어플리캐이션이 시작할 때(asax) Application 변수를 이용해서 한번에 저장한다 -->
<MailConfig>
	<mail.smtp.host>smtp.gmail.com</mail.smtp.host>
	<mail.smtp.port>587</mail.smtp.port>
	<mail.smtp.auth>true</mail.smtp.auth>
	<mail.smtp.starttls.enable>true</mail.smtp.starttls.enable>
	<mail.smtp.user>mwavemailtest@gmail.com</mail.smtp.user>
	<mail.smtp.password>pszkksemxuqjuglv</mail.smtp.password>
  <mail.smtp.from>mwavemailtest@gmail.com</mail.smtp.from>
</MailConfig>